<h2 class="text-center"><strong>S T A T U T</strong></h2>
<h2 class="text-center"><strong>STOWARZYSZENIA MIŁOŚNIKÓW MILITARIÓW</strong></h2>
<h2 class="text-center"><strong>"COBRA SQUAD"</strong></h2>
<h3 class="text-center"><strong>STATUT PRZYJĘTY UCHWAŁĄ NR 2/2024</strong></h3>
<h3 class="text-center"><strong>WALNEGO ZEBRANIA ZAŁOŻYCIELSKIEGO CZŁONKÓW Z DNIA 03.02.2024 R.</strong></h3>
<h4  class="text-center mt-4"><span style="font-weight: 400;">ROZDZIAŁ I</span></h4>
<h4  class="text-center"><span style="font-weight: 400;">POSTANOWIENIA OGÓLNE</span></h4>
<div class="text-center w-100"><strong>&sect; 1</strong></div>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Stowarzyszenie Miłośników Militariów "Cobra Squad", zwane dalej Stowarzyszeniem, posiada osobowość prawną.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Nazwa Stowarzyszenia jest prawnie zastrzeżona.</span></li>
</ol>
<div class="text-center w-100"><strong>&sect; 2</strong></div>
<p><span style="font-weight: 400;">Stowarzyszenie może prowadzić swoją działalność na terenie całej Rzeczpospolitej Polskiej. Siedzibą władz jest miasto Opole.</span></p>
<div class="text-center w-100"><strong>&sect; 3</strong></div>
<p><span style="font-weight: 400;">Stowarzyszenie jest organizacją pozarządową działającą w sferze pożytku publicznego. Stowarzyszenie nie działa w celu osiągnięcia zysku. Wszelki dochód Stowarzyszenie przeznacza na realizację celów statutowych.</span></p>
<div class="text-center w-100"><strong>&sect; 4</strong></div>
<p><span style="font-weight: 400;">Stowarzyszenie może używać odznak i pieczęci na zasadach określonych w przepisach szczegółowych.</span></p>
<div class="text-center w-100"><strong>&sect; 5</strong></div>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Stowarzyszenie może być członkiem krajowych i międzynarodowych organizacji o tym samym lub podobnym profilu działania.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">O przystąpieniu do organizacji, o której mowa w ust.1 bądź wystąpieniu z niej decyduje Walne Zebranie Członków większością kwalifikowaną co najmniej ⅔ głosów członków zwyczajnych biorących udział w Walnym Zebraniu Członków.</span></li>
</ol>
<h4  class="text-center"><span style="font-weight: 400;">ROZDZIAŁ II</span></h4>
<h4  class="text-center"><span style="font-weight: 400;">CELE I SPOSOBY DZIAŁANIA</span></h4>
<div class="text-center w-100"><strong>&sect; 6</strong></div>
<p><span style="font-weight: 400;">Celem Stowarzyszenia jest:</span></p>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">wspieranie i rozwój postaw patriotycznych wśród dzieci, młodzieży i dorosłych,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">dbałość o pozytywny wizerunek Wojska Polskiego i żołnierzy Rzeczypospolitej Polskiej,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">pielęgnowanie i popularyzowanie tradycji militarnych Rzeczypospolitej Polskiej,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">integracja środowisk kombatanckich, stowarzyszeń wojskowych i organizacji młodzieżowych,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">upowszechnianie wiedzy obronnej i historycznej wśród młodego pokolenia, mieszkańców regionu i turystów,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">promowanie prozdrowotnych, społecznych, edukacyjnych i wychowawczych wartości sportu i turystyki,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">promowanie i rozwój dyscypliny, sprawności fizycznej i zdolności obronnych,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">promowanie aktywnych form uczestnictwa w życiu kulturalnym miasta, regionu, kraju,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">promocja obronności kraju i regionu.</span></li>
</ol>
<div class="text-center w-100"><strong>&sect; 7</strong></div>
<p><span style="font-weight: 400;">Stowarzyszenie realizuje swoje cele poprzez:</span></p>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">nieodpłatną i odpłatną działalność pożytku publicznego:</span></li>
<ol type="a">
<li style="font-weight: 400;"><span style="font-weight: 400;">organizacja zawodów sportowych.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">organizacja letniego i zimowego wypoczynku dzieci i młodzieży.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">organizacja imprez o charakterze sportowo-rekreacyjnym i kulturalnym.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">udział w wydarzeniach organizowanych przez placówki oświatowe, domy kultury, gminy wyznaniowe oraz jednostki samorządowe.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">świadczenie usług związanych z prowadzeniem działalności w sferze pożytku publicznego.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">świadczenie usług związanych z zabezpieczeniem działalności w sferze pożytku publicznego.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">organizowanie szkoleń, narad, spotkań okolicznościowych, wystaw, pokazów, odczytów, dyskusji i sesji popularno - naukowych</span></li>
</ol>
</ol>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">organizowanie i udział w szkoleniach, wystawach, pokazach, odczytach, dyskusjach i sesjach popularno-naukowych oraz konferencjach naukowych,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">rewitalizację obiektów oraz pojazdów o charakterze militarnym i obronnym</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">prowadzenie i organizowanie imprez o charakterze sportowo&mdash; rekreacyjnym i kulturalnym,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">kultywowanie tradycji wojskowych,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">udzielanie pomocy byłym żołnierzom, żołnierzom pozostającym w służbie czynnej oraz pracownikom wojska w różnych formach,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">współpracę z pokrewnymi stowarzyszeniami krajowymi i zagranicznymi.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">współpracę z placówkami oświatowymi i ośrodkami akademickimi,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">udział w regionalnych i ogólnopolskich wydarzeniach,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">współpracę lub współorganizację z osobami prawnymi oraz osobami fizycznymi w ramach publicznych lub prywatnych wydarzeń okolicznościowych,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">organizację zawodów sportowych.</span></li>
</ol>
<h4  class="text-center"><span style="font-weight: 400;">ROZDZIAŁ III</span></h4>
<h4  class="text-center"><span style="font-weight: 400;">CZŁONKOWIE, ICH PRAWA I OBOWIĄZKI</span></h4>
<div class="text-center w-100"><strong>&sect; 9</strong></div>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Członkami Stowarzyszenia mogą być osoby fizyczne i prawne.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Osoba prawna może być jedynie wspierającym członkiem Stowarzyszenia.</span></li>
</ol>
<div class="text-center w-100"><strong>&sect; 10</strong></div>
<p><span style="font-weight: 400;">Członkowie Stowarzyszenia dzielą się na:</span></p>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">członków zwyczajnych</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">członków wspierających</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">członków kandydatów</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">członków honorowych</span></li>
</ol>
<div class="text-center w-100"><strong>&sect; 11</strong></div>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Członkiem zwyczajnym może być osoba fizyczna posiadająca pełną zdolność do czynności prawnych i niepozbawiona praw publicznych, akceptująca statutowe cele Stowarzyszenia.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Członkiem wspierającym może być osoba fizyczna, w tym osoba małoletnia powyżej 13 roku życia lub prawna zainteresowana działalnością Stowarzyszenia, która zadeklarowała na jego rzecz pomoc finansową lub rzeczową. Osoba prawna działa w Stowarzyszeniu przez swojego przedstawiciela.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Członkiem kandydatem może być osoba fizyczna, w tym osoba małoletnia powyżej 16 roku życia, zainteresowana działalnością Stowarzyszenia, która złożyła oświadczenie woli o chęci zostania członkiem zwyczajnym Stowarzyszenia. Dla osób poniżej 18 roku życia, do złożenia takiego oświadczenia, wymagana jest zgoda rodziców lub prawnych opiekunów.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Członkiem honorowym może być osoba fizyczna, która wniosła wybitny wkład w rozwój idei Stowarzyszenia lub w inny sposób wniosła zasługi dla Stowarzyszenia.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Członków zwyczajnych i wspierających przyjmuje w drodze uchwały Zarząd, na podstawie pisemnej deklaracji i na wniosek Sztabu Generalnego po spełnieniu wymagań określonych w aktualnie obowiązujących uchwałach.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Nadawanie godności członka honorowego następuje przez Walne Zebranie Członków na wniosek Zarządu z rekomendacji Sztabu Generalnego.</span></li>
</ol>
<div class="text-center w-100"><strong>&sect; 12</strong></div>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Członek zwyczajny ma prawo:</span></li>
<ol type="a">
<li style="font-weight: 400;"><span style="font-weight: 400;">czynnego i biernego prawa wyborczego do władz Stowarzyszenia</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">uczestniczenia w zebraniach, odczytach, konferencjach i innych formach statutowego działania Stowarzyszenia organizowanych przez władze Stowarzyszenia,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">zgłaszania opinii, wniosków i postulatów pod adresem władz Stowarzyszenia,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">korzystania z urządzeń, sprzętu, ekwipunku, świadczeń i pomocy Stowarzyszenia,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">noszenia oznaczenia rangi oraz specjalności,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">noszenia godła Stowarzyszenia,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">zgłaszania własnych propozycji projektów do Zarządu i objęcia przewodnictwa w zgłoszonych przez siebie projektach,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">zaskarżania do Walnego Zebrania Członków uchwały Zarządu Stowarzyszenia o skreśleniu z listy członków.</span></li>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Członek zwyczajny zobowiązany jest do:</span></li>
<ol type="a">
<li style="font-weight: 400;"><span style="font-weight: 400;">aktywnego uczestniczenia w pracach i realizacji celów Stowarzyszenia</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">przestrzegania statutu, regulaminów i uchwał władz Stowarzyszenia</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">regularnego opłacania składek i innych świadczeń obowiązujących w Stowarzyszeniu</span></li>
</ol>
</ol>
<div class="text-center w-100"><strong>&sect; 13</strong></div>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Członek wspierający posiada prawa określone w &sect;12 ust.1 b-d.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Członek honorowy posiada prawa określone w &sect;12 za wyjątkiem czynnego prawa wyborczego.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Członek kandydat posiada prawa określone w </span><span style="font-weight: 400;">&sect;12 ust. 1 </span><span style="font-weight: 400;">b-e</span><span style="font-weight: 400;">.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Członek kandydat ma prawo do </span><span style="font-weight: 400;">zgłaszania własnych propozycji projektów do Zarządu, pod warunkiem ich realizacji pod nadzorem członka zwyczajnego.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Członek wspierający, członek honorowy i członek kandydat mają prawo brać udział &mdash; z głosem doradczym w statutowych władzach Stowarzyszenia.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Członek wspierający jest obowiązany do wywiązywania się z deklarowanych świadczeń oraz przestrzegania statutu, regulaminów i uchwał władz Stowarzyszenia.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Członek kandydat posiada obowiązki wymienione w </span><span style="font-weight: 400;">&sect;12 ust. 2 </span><span style="font-weight: 400;">a-b.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Członkowie honorowi zwolnieni są z opłacania składek członkowskich.</span></li>
</ol>
<div class="text-center" style="font-weight: bold;">STOPNIE I SPECJALIZACJE</div>
<div class="text-center w-100"><strong>&sect; 14</strong></div>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Stowarzyszenie wyróżnia członków zwyczajnych, członków honorowych oraz członków kandydatów poprzez przyznanie stopni na wzór stopni wojskowych.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Członkowie zwyczajni, kandydaci oraz honorowi w momencie nadania członkostwa w Stowarzyszeniu, nabywają równolegle odpowiedni stopień w Stowarzyszeniu, zgodnie z obowiązującym "Regulaminem Stopni i Specjalizacji".</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Członkowie zwyczajni oraz honorowi mogą nabywać Specjalizacje, zgodnie z obowiązującym&nbsp; "Regulaminem Stopni i Specjalizacji".</span></li>
</ol>
<div class="text-center" style="font-weight: bold;">USTANIE CZŁONKOSTWA</div>
<div class="text-center w-100"><strong>&sect; 15</strong></div>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Członkostwo Stowarzyszenia ustaje na skutek:</span></li>
<ol type="a">
<li style="font-weight: 400;"><span style="font-weight: 400;">dobrowolnej rezygnacji z przynależności do Stowarzyszenia zgłoszonej na piśmie Zarządowi, po uprzednim uregulowaniu składek członkowskich i innych zobowiązań</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">śmierci członka lub utraty osobowości prawnej przez członka wspierającego</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">skreślenia z listy członków z powodu nieusprawiedliwionego zalegania z opłatą składek członkowskich lub innych zobowiązań przez okres przekraczający 12 miesięcy,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">wykluczenia ze Stowarzyszenia na skutek prawomocnego orzeczenia Zarządu w przypadku stwierdzenia rażącego naruszenia zasad statutowych, nieprzestrzegania postanowień, uchwał i regulaminów oraz zasad etyki.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">wykluczenia w wyniku prawomocnego orzeczenia sądu powszechnego, orzekającego karę dodatkową w postaci pozbawienia praw publicznych,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">pozbawienia członkostwa honorowego, w wyniku uchwały władzy Stowarzyszenia, które członkostwo nadała.</span></li>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">W przypadku określonym w ust.1 pkt. c&mdash;f Zarząd zobowiązany jest zawiadomić członka o skreśleniu lub wykluczeniu podając przyczyny skreślenia lub wykluczenia, wskazując na prawo wniesienia odwołania do Walnego Zebrania Członków w terminie 14 dni od daty doręczenia stosownej uchwały lub orzeczenia.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Do osób, którym odmówiono prawa członkostwa stosuje się odpowiednio zasady określone w ust.2.</span></li>
</ol>

<h4  class="text-center"><span style="font-weight: 400;">ROZDZIAŁ IV</span></h4>
<h4  class="text-center"><span style="font-weight: 400;">STRUKTURA ORGANIZACYJNA</span></h4>
<div class="text-center w-100"><strong>&sect; 16</strong></div>
<p><span style="font-weight: 400;">Władzami Stowarzyszenia są:</span></p>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Walne Zebranie Członków</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Zarząd</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Komisja Rewizyjna</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Sztab Generalny</span></li>
</ol>
<div class="text-center w-100"><strong>&sect; 17</strong></div>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Kadencja Zarządu i Komisji Rewizyjnej trwa 4 lata, a ich wybór odbywa się w głosowaniu tajnym bezwzględną większością głosów. Wybór władz następuje spośród nieograniczonej liczby kandydatów.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Kadencja Sztabu Generalnego jest bezterminowa i może zostać zakończona na skutek uchwały Walnego Zgromadzenia podjętej w obecności co najmniej połowy członków Stowarzyszenia większością zwykłą w głosowaniu tajnym.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Uchwały władz Stowarzyszenia - jeżeli statut nie stanowi inaczej - podejmowane są w głosowaniu jawnym, zwykłą większością głosów przy obecności co najmniej połowy ogólnej liczby uprawnionych członków. Zgromadzeni mogą uchwalić głosowanie tajne.</span></li>
</ol>
<div class="text-center w-100"><strong>&sect; 18</strong></div>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">W przypadku ustąpienia, wykluczenia lub śmierci członka władz Stowarzyszenia w trakcie kadencji, skład osobowy tych władz może zostać uzupełniany spośród nie wybranych kandydatów wg kolejności uzyskanych głosów. W przypadku, gdy liczba osób w ten sposób uzupełniających władze przekraczałaby ⅓ składu osobowego, wybory uzupełniające zostaną przeprowadzone na Nadzwyczajnym Walnym Zebraniu Członków.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Nadzwyczajne Walne Zebranie Członków w celu przeprowadzenia wyborów uzupełniających zwoływane jest nie później niż 14 dni po wystąpieniu okoliczności z pkt. 1.</span></li>
</ol>
<div class="text-center" style="font-weight: bold;">WALNE ZEBRANIE CZŁONKÓW</div>
<div class="text-center w-100"><strong>&sect; 19</strong></div>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Walne Zebranie Członków jest najwyższą władzą Stowarzyszenia.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">W Walnym Zebraniu Członków biorą udział:</span></li>
<ol type="a">
<li style="font-weight: 400;"><span style="font-weight: 400;">z głosem stanowiącym &mdash; członkowie zwyczajni.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">z głosem doradczym &mdash; członkowie honorowi, wspierający i zaproszeni goście.</span></li>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">O miejscu, terminie i porządku obrad Zarząd powiadamia członków co najmniej na 14 dni przed terminem Walnego Zebrania Członków.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Uchwały Walnego Zebrania Członków zapadają przy obecności:</span></li>
<ol type="a">
<li style="font-weight: 400;"><span style="font-weight: 400;">w pierwszym terminie &mdash; liczby członków określonej w &sect;19 ust.4,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">w drugim terminie wyznaczonym w tym samym dniu 15 minut później od pierwszego terminu &mdash; bez względu na liczbę osób uprawnionych do głosowania.</span></li>
</ol>
</ol>
<div class="text-center w-100"><strong>&sect; 20</strong></div>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Walne Zebranie Członków może być zwyczajne lub nadzwyczajne.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Sprawozdawcze Walne Zebranie Członków zwołuje się raz w roku, sprawozdawczo&mdash;wyborcze w terminie określonym w &sect;21 ust.3.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Walne Zebranie Członków obraduje wg uchwalonego przez siebie regulaminu obrad.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Obradami Walnego Zebrania kieruje Prezydium w składzie: przewodniczący, zastępca, sekretarz.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Członek ustępujących władz nie może wejść w skład Prezydium Walnego Zebrania Członków i powołanych na nim komisji.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Nadzwyczajne Walne Zebranie Członków może odbywać się w każdym czasie, w szczególnie uzasadnionych przypadkach.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Nadzwyczajne Walne Zebranie Członków zwołuje Zarząd:</span></li>
<ol type="a">
<li style="font-weight: 400;"><span style="font-weight: 400;">z własnej inicjatywy,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">na żądanie Komisji Rewizyjnej,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">na umotywowane żądanie co najmniej 1/3 członków zwyczajnych,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">na umotywowane żądanie co najmniej 3 członków zwyczajnych w przypadkach dotyczących pozbawienia stopnia w Stowarzyszeniu.</span></li>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">W przypadkach określonych w ust.7 pkt. a i b Nadzwyczajne Walne Zebranie Członków winno być zwołane nie później niż w ciągu 30 dni od daty przedstawienia odpowiedniego wniosku Zarządowi.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Nadzwyczajne Walne Zebranie Członków obraduje wyłącznie nad sprawami dla których zostało zwołane.</span></li>
</ol>
<div class="text-center w-100"><strong>&sect; 21</strong></div>
<p><span style="font-weight: 400;">Do kompetencji Walnego Zebrania w szczególności należy:</span></p>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">określenie głównych kierunków działania Stowarzyszenia,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">uchwalenie statutu i jego zmian,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">uchwalanie regulaminów władz Stowarzyszenia ,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">uchwalanie budżetu,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">wybór i odwoływanie członków władz Stowarzyszenia,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">rozpatrywanie i zatwierdzanie sprawozdań władz Stowarzyszenia,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">ustalanie wysokości składek członkowskich oraz innych świadczeń, ulg i zwolnień od tych składek lub świadczeń,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">rozpatrywanie wniosków i postulatów zgłoszonych przez członków Stowarzyszenia lub jego władze,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">rozpatrywanie odwołań w sprawach członkowskich od uchwał Zarządu,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">podejmowanie uchwał o przynależności do innych organizacji,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">nadawanie i pozbawianie godności członka honorowego,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">podejmowanie uchwały o rozwiązaniu Stowarzyszenia i przeznaczeniu jego majątku,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">podejmowanie uchwał w innych sprawach wniesionych pod obrady.</span></li>
</ol>
<div class="text-center" style="font-weight: bold;">ZARZĄD</div>
<div class="text-center w-100"><strong>&sect; 22</strong></div>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Zarząd kieruje całokształtem działalności Stowarzyszenia, zgodnie z uchwałami Walnego Zebrania Członków, reprezentuje je na zewnątrz i ponosi odpowiedzialność przed Walnym Zebraniem Członków.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Zarząd składa się z 3 osób: prezesa, zastępcy, skarbnika.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Posiedzenia Zarządu odbywają się w miarę potrzeb, nie rzadziej jednak niż 1 raz na kwartał.</span></li>
</ol>
<div class="text-center w-100"><strong>&sect; 23</strong></div>
<p><span style="font-weight: 400;">Do zakresu działania Zarządu należy:</span></p>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">realizacja celów Stowarzyszenia oraz uchwał Walnego Zebrania Członków,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">określanie szczegółowych kierunków działania,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">ustalanie budżetu i preliminarzy,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">sprawowanie zarządu nad majątkiem Stowarzyszenia ,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">opracowywanie regulaminów,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">podejmowanie decyzji w sprawie nabycia lub zbycia majątku nieruchomego i ruchomego,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">powoływanie komisji, zespołów oraz określanie ich zadań,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">zwoływanie Walnego Zebrania Członków,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">podejmowanie uchwał w sprawach członkowskich /przyjmowanie i skreślanie/,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">podejmowanie uchwał w zakresie awansów i degradacji w hierarchii stopni w Stowarzyszeniu,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">powoływanie członków Sztabu Generalnego Stowarzyszenia,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">prowadzenie dokumentacji członkowskiej,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">wnioskowanie o nadanie lub pozbawienie godności członka honorowego Stowarzyszenia,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">składanie sprawozdań ze swej działalności na Walnym Zebraniu Członków,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">funkcja doradcza w posiedzeniach Sztabu Generalnego</span></li>
</ol>
<div class="text-center" style="font-weight: bold;">KOMISJA REWIZYJNA</div>
<div class="text-center w-100"><strong>&sect; 24</strong></div>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Komisja Rewizyjna jest władzą Stowarzyszenia powołaną do sprawowania kontroli nad jego działalnością.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Komisja Rewizyjna składa się z 3 członków: przewodniczącego, zastępcy przewodniczącego, sekretarza.</span></li>
</ol>
<div class="text-center w-100"><strong>&sect; 25</strong></div>
<p><span style="font-weight: 400;">Do zakresu działania Komisji Rewizyjnej należy:</span></p>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">kontrolowanie działalności Stowarzyszenia,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">występowanie do Zarządu z wnioskami wynikającymi z przeprowadzonych kontroli i lustracji</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">prawo żądania zwołania Nadzwyczajnego Walnego Zebrania Członków w razie stwierdzenia niewywiązywania się przez Zarząd lub Sztab Generalny z ich statutowych obowiązków a także prawo żądania zwołania zebrania /posiedzenia/ Zarządu.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">zwołanie Walnego Zebrania Członków, w razie nie zwołania go przez Zarząd w terminie lub trybie ustalonym statutem,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">składanie na Walnym Zebraniu Członków wniosków o udzielenie /lub odmowę udzielenia/ absolutorium władzom Stowarzyszenia.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">składanie sprawozdań ze swej działalności na Walnym Zebraniu Członków</span></li>
</ol>
<div class="text-center w-100"><strong>&sect; 26</strong></div>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Członkowie Komisji Rewizyjnej mają prawo brać udział z głosem doradczym w posiedzeniach Zarządu. Członkowie Komisji Rewizyjnej nie mogą pełnić innych funkcji we władzach Stowarzyszenia.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Komisja Rewizyjna działa na podstawie regulaminu opracowanego przez tę władzę.</span></li>
</ol>
<div class="text-center" style="font-weight: bold;">SZTAB GENERALNY</div>
<div class="text-center w-100"><strong>&sect; 27</strong></div>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Sztab Generalny stanowi uzupełnienie i rozszerzenie kompetencji Zarządu w zakresie działań polowych.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Sztab Generalny tworzą: Dowódca Kompanii, Zastępca Dowódcy Kompanii.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Do uczestnictwa w posiedzeniach Sztabu zobowiązany jest przynajmniej jeden przedstawiciel Zarządu, pełniący funkcje doradcze.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Posiedzenia Sztabu powinny odbywać się nie rzadziej niż raz na kwartał oraz przed każdymi działaniami polowymi.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Przez działania polowe rozumie się wszelkie wydarzenia, spotkania, szkolenia, wystawy, pokazy, odczyty, dyskusje i sesje, odbywające się poza siedzibą Stowarzyszenia, podczas których podjęte decyzje mają charakter krótkotrwały, dotyczą tylko tego konkretnego wydarzenia i nie wymagają potwierdzenia w formie pisemnej.</span></li>
</ol>
<div class="text-center w-100"><strong>&sect; 28</strong></div>
<p><span style="font-weight: 400;">Do kompetencji Sztabu Generalnego należy:</span></p>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">przygotowanie logistyczne i zaopatrzeniowe podczas działań polowych,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">dbałość o sprzęt i ekwipunek należący do Stowarzyszenia,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">podział zadań i obowiązków podczas działań polowych,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">nadzór nad przebiegiem i realizacją powyższych zadań,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">przygotowanie treści apeli odbywających się podczas działań polowych,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">rekomendowanie członków kandydatów do przyjęcia w szeregi Stowarzyszenia,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">rekomendowanie zmian stopni w hierarchii Stowarzyszenia,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">prowadzenie ceremonii nadania członkostwa, stopnia, nagród i odznaczeń,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">przygotowanie planu treningów, realizacja oraz nadzór nad przebiegiem treningów,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">aktualizacja listy specjalizacji.</span></li>
</ol>
<h4  class="text-center"><span style="font-weight: 400;">ROZDZIAŁ V</span></h4>
<h4  class="text-center"><span style="font-weight: 400;">MAJĄTEK I FUNDUSZE</span></h4>
<p>&nbsp;</p>
<div class="text-center w-100"><strong>&sect; 29</strong></div>
<p><span style="font-weight: 400;">Majątek Stowarzyszenia stanowią nieruchomości, ruchomości i fundusze.</span></p>
<div class="text-center w-100"><strong>&sect;30</strong></div>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Źródłami powstania majątku Stowarzyszenia są:</span></li>
<ol type="a">
<li style="font-weight: 400;"><span style="font-weight: 400;">opłaty wpisowe i składki członkowskie,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">dochody z nieruchomości i ruchomości stanowiących własność lub będących w użytkowaniu Stowarzyszenia, w tym odsetki od środków Stowarzyszenia na rachunku bankowym.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">dotacje,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">darowizny, zapisy i spadki,</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">wpływy z działalności statutowej</span></li>
</ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Środki pieniężne niezależnie od źródeł ich pochodzenia mogą być przechowywane wyłącznie na koncie Stowarzyszenia. Wpłaty gotówkowe winny być przy uwzględnieniu bieżących potrzeb jak najszybciej przekazane na to konto.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Składki członkowskie powinny być wpłacane do 15. dnia każdego miesiąca gotówką lub na konto Stowarzyszenia. Nowo przyjęci członkowie wpłacają składki wg zasad określonych przez Zarząd w ciągu 4 tygodni od otrzymania powiadomienia o przyjęciu na członka Stowarzyszenia.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Stowarzyszenie prowadzi gospodarkę finansową oraz rachunkowość, zgodnie z obowiązującymi przepisami.</span></li>
</ol>
<div class="text-center w-100"><strong>&sect; 31</strong></div>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Dla ważności oświadczenia woli pism i dokumentów w przedmiocie praw i obowiązków majątkowych Stowarzyszenia o wartości powyżej 1.000PLN wymagane są podpisy dwóch osób: Prezesa oraz skarbnika lub Zastępcy.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Do składania pozostałych oświadczeń w imieniu Stowarzyszenia uprawniony jest Prezes Zarządu jednoosobowo, pozostali członkowie Zarządu reprezentują Stowarzyszenie dwuosobowo.</span></li>
</ol>
<h4  class="text-center"><span style="font-weight: 400;">ROZDZIAŁ VI</span></h4>
<h4  class="text-center"><span style="font-weight: 400;">ZMIANA STATUTU I ROZWIĄZANIE STOWARZYSZENIA</span></h4>
<p>&nbsp;</p>
<div class="text-center w-100"><strong>&sect; 32</strong></div>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Uchwalenie statutu lub jego zmiana oraz podjęcie uchwały o rozwiązaniu Stowarzyszenia przez Walne Zebranie Członków wymaga kwalifikowanej większości głosów &mdash; 2/3 przy obecności co najmniej połowy uprawnionych do głosowania.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Uchwalenie statutu lub jego zmiana oraz rozwiązanie Stowarzyszenia mogą być przedmiotem Walnego Zebrania wyłącznie wtedy gdy sprawy te zostały umieszczone w porządku obrad Walnego Zebrania Członków. Do zawiadomienia określonego w &sect;18 ust.3 należy załączyć projekt stosownych uchwał.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Podejmując uchwałę o rozwiązaniu Stowarzyszenia Walne Zebranie Członków określa sposób przeprowadzenia likwidacji oraz przeznaczenia majątku Stowarzyszenia.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">W sprawach dotyczących rozwiązania i likwidacji Stowarzyszenia nieuregulowanych w statucie mają odpowiednie zastosowanie przepisy ustawy z dnia 7 kwietnia 1989 r. Prawo o Stowarzyszeniach /Dz.U.Nr 20 poz.104 z późniejszymi zmianami/.</span></li>
</ol>

<h4  class="text-center"><span style="font-weight: 400;">ROZDZIAŁ VII</span></h4>
<h4  class="text-center"><span style="font-weight: 400;">PRZEPISY PRZEJŚCIOWE</span></h4>
<p>&nbsp;</p>
<div class="text-center w-100"><strong>&sect; 33</strong></div>
<p><span style="font-weight: 400;">Statut oraz jego zmiany wchodzą w życie po uprawomocnieniu się stosownego postanowienia Sądu Rejestrowego.</span></p>