.top__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.password-input {
  padding-right: 25px;
}

.toggle__password {
  position: absolute;
  right: 215px;
  cursor: pointer;
}

.small {
  display: none;
}

@media screen and (max-width: 1100px) {
  .toggle__password {
    right: 210px;
  }
}

@media screen and (max-width: 900px) {
  .big {
    display: none;
  }
  .small {
    display: flex;
  }
}
