<h1 style="text-align: center; font-weight: bold;" class="mt-2 mb-4">Witajcie w świecie militariów Cobra Squad!</h1>
<div class="d-flex flex-column align-items-start mb-4" style="gap: 10px">
<div>Cieszymy się, że jesteś z nami. Stowarzyszenie Miłośników Militariów "Cobra Squad" to nie tylko grupa pasjonatów militariów i wojskowości, ale również zespół oddanych entuzjastów, którzy pragną dzielić się swoją pasją z innymi i wzbogacać różnorodne wydarzenia o ducha i tradycję militarną.</div>

<div style="font-weight: bold;">Jesteśmy tu, aby zapewnić niezapomniane przeżycia i dodatkową dawkę emocji każdemu wydarzeniu.</div>

<div>Niezależnie od tego, czy chodzi o widowiskowe pokazy musztry, uroczystą asystę honorową czy atrakcyjne prezentacje replik broni, "Cobra Squad" zawsze staje na wysokości zadania, dostarczając wrażeń, które pozostaną w pamięci na długo.</div>

<div style="font-weight: bold;">Nasi doświadczeni członkowie, wyposażeni w mundury, broń oraz autentyczny sprzęt, przygotowani są do zaoferowania wyjątkowych atrakcji na każdym etapie Waszych wydarzeń.</div>

<div>Dołączcie do nas podczas festynów, dożynkowych świętowań czy wyjątkowych ceremonii, aby czerpać radość z fascynującego świata militariów i odkrywać tajemnice wojskowości w towarzystwie pasjonatów.</div>

<div style="font-weight: bold;">Niech "Cobra Squad" dopełni Wasze wydarzenie unikalnymi akcjami, które pozostawią niezatarte wrażenia i zbudują atmosferę, o której będziecie pamiętać przez wiele lat.</div>

<div>Razem tworzymy wyjątkowe chwile, przepełnione duchem przygody, tradycji i szacunku dla historii. Zapraszamy do kontaktu poprzez kanały w zakładce <a [routerLink]="['/contact']">Kontakt</a>.</div>
</div>

<h2 style="font-weight: bold;" class="text-center">Nasze propozcje</h2>
<ol>
<h4><li>Pokazy musztry</li></h4>
<div class="mb-3">Zapraszamy na emocjonujące pokazy musztry, podczas których nasi wykwalifikowani członkowie prezentują perfekcyjne wykonanie precyzyjnych manewrów wojskowych. Odkryj historyczne tajemnice musztry podczas widowiskowych demonstracji, które zapierają dech w piersiach i pozostawiają niezapomniane wrażenia.</div>
<h4><li>Asysta honorowa</li></h4>
<div class="mb-3">Zapewnij swojej uroczystości wyjątkowy charakter dzięki naszej asyście honorowej. Nasi członkowie ubrani w historyczne mundury i uzbrojeni w tradycyjne bronie będą godnie reprezentować ducha i honor militarnej tradycji podczas różnorodnych wydarzeń, od ceremonii ślubnych po oficjalne otwarcia.</div>
<h4><li>Pokazy i prezentacja replik broni</li></h4>
<div class="mb-3">Odkryj fascynujący świat historycznej broni podczas naszych pokazów i prezentacji. Przyjrzyj się bliżej replikom klasycznych broni, które odgrywały kluczową rolę w ważnych momentach historii. Dowiedz się więcej o ich konstrukcji, zastosowaniu oraz wpływie na przebieg wydarzeń.</div>
<h4><li>Udział w festynach i dożynkach</li></h4>
<div class="mb-3">Dołącz do nas podczas festynów i dożynkowych świętowań, gdzie nasze Stowarzyszenie wzbogaca atmosferę wyjątkowymi atrakcjami. Zobacz jak nasi członkowie uczestniczą w kulturalnych i historycznych wydarzeniach, dzieląc się pasją do militariów i propagując szacunek dla tradycji.</div>
<h4><li>Bramy weselne</li></h4>
<div class="mb-3">Brama weselna to więcej niż tylko tradycyjne powitanie. To chwila, gdy nasz oddział zatrzymuje orszak weselny, aby przeprowadzić niezapomniane akcje. Może to obejmować "porwanie" Państwa Młodych i przesadzenie ich do pojazdu wojskowego, uroczystą prezentację, czy też inne, wcześniej ustalone wydarzenia, które dodadzą niezapomnianych wspomnień do waszego wyjątkowego dnia. Nasze kostiumy, mundury i bronie dodadzą niepowtarzalnego klimatu i podkreślą ważność tego wyjątkowego momentu.</div>
<h4><li>"Porwania" w ramach wieczoru kawalerskiego/panieńskiego, urodzin, rocznic itp.</li></h4>
<div>Przygotuj się na ekscytujące "porwanie" zorganizowane przez Cobra Squad, które zapewni niezapomniane przeżycia na wieczorze kawalerskim, panieńskim, urodzinach czy rocznicach. Nasze akcje zaskoczenia, kostiumy i rekwizyty militarne zagwarantują niezapomnianą przygodę, która pozostanie w pamięci na długo.</div>
</ol>